.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.option-box .gear-check{
    background-color: #1d0969;
}
.navbar-inverse .navbar-brand span,
.about h1 span,
.testmonials span,
.footer .copyright span,
.footer h3{
    color: #1d0969;
}
.dropdown-menu{
    border-top: 1px solid #1d0969;

}
.option-box .color-option,
.testmonials .carousel-indicators li.active{
  border: 3px solid #1d0969;
}
